{% extends 'base.html.twig' %}

{% block title %}Liste de tâches !
{% endblock %}

{% block body %}


	<h1>Toutes les tâches</h1>

	{{form(form)}}

		{% for task in tasks %}

			<div class="container">

            <div>

				 <h2 {{task.isDone ? "style = ' text-decoration: line-through;'":'' }}> Tâche : {{task.title}}</h2>
				
				<br>
				
				<span style = "width: 100px; height:30px; background-color:black; border-radius:10px; color:white; padding:15px; margin:10px ">Catégorie : {{task.category.name}}</span>
				<br><br>
				{# task contient un objet category donc on va chercher la priorité #}

				<form action="{{ path('task_delete') }}" method="post" onsubmit="return confirm('Supprimer cette tâche ?')">
					<input
					type="hidden" name="id" value="{{task.id}}">
					{# on masque l'id pour pas passer par l'url #}

					<button type="submit"> Supprimer ❌</button>
				</form>
            </div>
                
				<form action="{{ path('task_complete') }}" method="POST" style ="display:flex; justify-content :center; height:50px; " >
					<label for="" style ="display:flex; flex-direction:row;">
						Fait ? :
						<input type="hidden" name="id" value="{{task.id}}">
						<input {{task.isDone ? 'checked':''}} type="checkbox" onchange="submit()" style ="width:20px; height:20px;">
					</label>
				</form>

				{# <p> Fait : {{task.isDone ? 'Tâche faite : <input type ="checkbox" checked >': 'Tâche à faire :<input type ="checkbox" value = "!isDone">'}}</p> #}

				<small>Crée le :
					{{task.createdAt | date('d/m/Y H:i:s')}}</small>


				<hr>
			</div>
		{% endfor %}


	{% endblock %}
